<div ng-controller="MainController"
id="headerbar"
ng-class="{headerbarHide: getLayoutOption('headerBarHidden'), headerbarShow: !getLayoutOption('headerBarHidden')}"
ng-show="!getLayoutOption('fullscreen')"
ng-cloak>
<header
id="topnav"
class="navbar ng-hide"
ng-class="{'navbar-fixed-top': getLayoutOption('fixedHeader'), 'navbar-static-top': !getLayoutOption('fixedHeader')}"
ng-controller="MainController"
role="banner"
ng-show="!layoutLoading"
ng-cloak>
<a id="leftmenu-trigger" ng-click="toggleLeftBar()"></a>
<a id="rightmenu-trigger" ng-click="toggleRightBar()"></a>


<div class="navbar-header pull-left">
	<a class="navbar-brand" href="#/">Shaman SGE</a>
</div>

<div id="search-inline"
class="nav navbar-nav navbar-form hidden-xs"
ng-class="{
	active: getLayoutOption('showSmallSearchBar')
}">
<div class="input-icon">
	<i class="glyphicon glyphicon-search search"></i>
	<input type="text" placeholder="Buscar..." class="form-control" tabindex="1">
	<i class="glyphicon glyphicon-remove remove visible-xs-inline-block" ng-click="toggleSearchBar($event)"></i>
</div>
</div>

<ul class="nav navbar-nav pull-right toolbar">
	<li class="dropdown" ng-show="isLoggedIn" dropdown>
		<a href dropdown-toggle class="dropdown-toggle">
			<i class="glyphicon glyphicon-user"></i>
		</a>
		<ul class="dropdown-menu animated userinfo arrow">
			<li class="userlinks">
				<ul class="dropdown-menu">
					<li><a href="#">Editar Perfil <i class="pull-right glyphicon glyphicon-pencil"></i></a></li>
					<li><a href="#">Editar Cuenta <i class="pull-right glyphicon glyphicon-user"></i></a></li>
					<li><a href="#" ng-click="logOut()">Cerrar Sesión <i class="pull-right glyphicon glyphicon-off red"></i></a></li>
				</ul>
			</li>
		</ul>
	</li>

	<li class="dropdown" dropdown ng-controller="NotificationsController" ng-show="isLoggedIn">
		<a href dropdown-toggle class="dropdown-toggle">
			<i class="glyphicon glyphicon-cog"></i>
		</a>
		<ul class="dropdown-menu animated notifications arrow">
			<li class="dd-header">
				<span style="float:left !important;">Configuraciones</span>
			</li>
			<div class="scrollthis" scrollable>
				<li>
					<a href="#" class="notification-success">
						<div style="float:right">
							<input type="checkbox" icheck ng-model="mapService.seeMap" />
						</div>
						<i class="fa fa-globe"></i>
						<span class="msg">Visualización del mapa</span>
					</a>
				</li>
			</div>
		</ul>
	</li>
	<li class="visible-xs-block">
		<a href="#" ng-click="toggleSearchBar($event)"><i class="glyphicon glyphicon-search"></i></a>
	</li>

</ul>
</header>
