<div ng-controller="MainController"
id="headerbar"
ng-class="{headerbarHide: getLayoutOption('headerBarHidden'), headerbarShow: !getLayoutOption('headerBarHidden')}"
ng-show="!getLayoutOption('fullscreen')"
ng-cloak>
<header
id="topnav"
class="navbar ng-hide"
ng-class="{'navbar-fixed-top': getLayoutOption('fixedHeader'), 'navbar-static-top': !getLayoutOption('fixedHeader')}"
ng-controller="MainController"
role="banner"
ng-show="!layoutLoading"
ng-cloak>
<a id="leftmenu-trigger" ng-click="toggleLeftBar()"></a>
<a id="rightmenu-trigger" ng-click="toggleRightBar()"></a>


<div class="navbar-header pull-left">
	<a class="navbar-brand" href="#/">Shaman SGE</a>
</div>

<div id="search-inline"
class="nav navbar-nav navbar-form hidden-xs"
ng-class="{
	active: getLayoutOption('showSmallSearchBar')
}">
<div class="input-icon">
	<i class="glyphicon glyphicon-search search"></i>
	<input type="text" placeholder="Buscar..." class="form-control" tabindex="1">
	<i class="glyphicon glyphicon-remove remove visible-xs-inline-block" ng-click="toggleSearchBar($event)"></i>
</div>
</div>

<ul class="nav navbar-nav pull-right toolbar">
	<li class="dropdown" ng-show="isLoggedIn" dropdown>
		<a href dropdown-toggle class="dropdown-toggle">
			<i class="glyphicon glyphicon-user"></i>
		</a>
		<ul class="dropdown-menu animated userinfo arrow">
			<li class="userlinks">
				<ul class="dropdown-menu">
					<li><a href="#">Editar Perfil <i class="pull-right glyphicon glyphicon-pencil"></i></a></li>
					<li><a href="#">Editar Cuenta <i class="pull-right glyphicon glyphicon-user"></i></a></li>
					<li><a href="#" ng-click="logOut()">Cerrar Sesión <i class="pull-right glyphicon glyphicon-off red"></i></a></li>
				</ul>
			</li>
		</ul>
	</li>

	<li class="dropdown" dropdown ng-controller="NotificationsController" ng-show="isLoggedIn">
		<a href dropdown-toggle class="dropdown-toggle">
			<i class="glyphicon glyphicon-globe"></i><span class="badge badge-indigo" ng-if="unseenCount>0" ng-bind="unseenCount"></span>
		</a>
		<ul class="dropdown-menu animated notifications arrow">
			<li class="dd-header">
				<span>Notifications ({{unseenCount}})</span>
				<span><a href="#"><i class="glyphicon glyphicon-cog"></i></a></span>
			</li>
			<div class="scrollthis" scrollable>
				<li ng-repeat="item in notifications">
					<a href="#" class="{{item.class}}" ng-class="{active: !item.seen}">
						<button tooltip-placement="top" tooltip-append-to-body="true" tooltip="Mark seen" class="btn-mark-read" ng-if="!item.seen" ng-click="setSeen(item, $event)"><i class="glyphicon glyphicon-unchecked"></i></button>
						<button tooltip-placement="top" tooltip-append-to-body="true" tooltip="Mark unseen" class="btn-mark-unread" ng-if="item.seen" ng-click="setUnseen(item, $event)"><i class="glyphicon glyphicon-check"></i></button>
						<span class="time">{{item.time}}</span>
						<i class="{{item.iconClasses}}"></i>
						<span class="msg">{{item.text}}</span>
					</a>
				</li>
			</div>
			<li class="dd-footer"><a href="javascript:;" ng-click="setSeenAll($event)">Mark all seen</a></li>
		</ul>
	</li>
	<li class="visible-xs-block">
		<a href="#" ng-click="toggleSearchBar($event)"><i class="glyphicon glyphicon-search"></i></a>
	</li>

	<li class="dropdown demodrop" dropdown>
		<a href dropdown-toggle class="dropdown-toggle tooltips"><i class="glyphicon glyphicon-cog"></i></a>
		<ul class="dropdown-menu animated arrow dropdown-menu-form" id="demo-dropdown">

			<div class="tabular">
				<div class="tabular-row">
					<div class="tabular-cell">
						<label for="seeMap">Mapa</label>
						<div ng-click="$event.stopPropagation()">
							<input type="checkbox" ng-model="mapService.seeMap" class="js-switch" ui-switch="{color: '#7dcc93', secondaryColor: '#c5cbd1'}" />
						</div>
					</div>
				</div>
			</div>
		</ul>
	</li>
</ul>
</header>
