<div class="infobar" sticky-scroll="50" rightbar-right-position="getLayoutOption('layoutBoxed')">
    <div scrollable style="height: 100%;padding-bottom:40px">
        <accordion close-others="rightbarAccordionsShowOne">
	        <accordion-group is-open="rightbarAccordions[1].open" ng-class="{open:rightbarAccordions[1].open}">
	          <accordion-heading>
	          Pending Tasks <small>(5)</small>
	          </accordion-heading>

	          <progressbar contextual="true" value="25" heading="Backend Development" type="info"></progressbar>
	          <progressbar contextual="true" value="77" heading="Bug Fix" type="primary"></progressbar>
	          <progressbar contextual="true" value="70" heading="Javascript Code" type="success"></progressbar>
	          <progressbar contextual="true" value="55" heading="Preparing Documentation" type="danger"></progressbar>
	          <progressbar contextual="true" value="25" heading="Mobile App" type="orange"></progressbar>

	          <!-- <span class="more"><a href="#/ui-progressbars">View all Pending</a></span> -->
	        </accordion-group>
        </accordion>
    </div>
</div> <!-- .infobar -->
