<div class="verticalcenter" ng-controller="LoginController" style="margin-top:10%">
<h1 style="font-family: 'Satisfy', cursive; font-size: 46px; text-align: center"> Shaman </h1>
	<div class="panel panel-success">
		<div class="panel-heading">
		</div>
		<div class="panel-body">

			<h4 class="text-center" style="margin-bottom: 25px;">Inicie sesión para ingresar al sistema.</h4>
			<div ng-show="data.error" class="alert alert-danger">{{ data.error }}</div>
			<form name="loginForm" class="form-horizontal" role="form" novalidate>
				<div class="form-group">
					<label for="username" class="control-label col-sm-4" style="text-align: left;">Usuario</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="username" name="username" ng-model="data.username" placeholder="Usuario" required>
						<span ng-show="loginForm.username.$dirty && loginForm.username.$error.required" class="help-block">El nombre de usuario es requerido</span>
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="control-label col-sm-4" style="text-align: left;">Contraseña</label>
					<div class="col-sm-8">
						<input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" ng-model="data.password" required>
						<span ng-show="loginForm.password.$dirty && loginForm.password.$error.required" class="help-block">La contraseña es requerida</span>
					</div>
				</div>
				<div class="clearfix">
					<div class="pull-right"><label><input type="checkbox" checked> Recordarme</label></div>
				</div>
				<input type="submit" ng-disabled="loginForm.$invalid || data.dataLoading"  class="btn btn-success btn-block" ng-click="login()" value="Iniciar Sesión" />
				<img ng-if="data.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
			</form>
			<a href="#/" class="pull-left btn btn-link" style="padding-left:0; padding-top:14px">Olvidó su contraseña?</a>
		</div>
	</div>
</div>
