<div class="container-fluid" ng-controller="operativeController">
  <div class="row">
    <div ng-class="{
      'col-xs-10' : operative.mapService.seeMap,
      'col-xs-12' : !operative.mapService.seeMap
    }
    ">
    <tabset panel-tabs="true" panel-class="panel-success">
      <tab heading="Despacho" ng-controller="dispatchController">
        <div class="row">
          <div class="col-xs-10">
            <panel panel-class="panel-success panel-no-padding" heading="Incidentes">
              <div class="table-responsive">
                <div style="height:400px" ui-grid="gridOptionsIncidents" ui-grid-selection ui-grid-auto-resize></div>
                <div class="panel-loading" ng-show="data.incidentsAreLoading">
                  <div class="panel-loader-circular"></div>
                </div>
              </div>
            </panel>
          </div>
          <div class="col-xs-2">
            <panel panel-class="panel-success panel-no-padding" heading="Móviles">
              <div style="height:400px" ui-grid="gridOptionsMobiles" ui-grid-selection ui-grid-auto-resize></div>
              <div class="panel-loading" ng-show="data.mobilesAreLoading">
                <div class="panel-loader-circular"></div>
              </div>
            </panel>
          </div>
        </div>
      </tab>
      <tab heading="Recepción" ng-controller="receptionController as receptionCtrl">
        <ul class="demo-btns reception-menu">
          <li class="tooltips" data-trigger="hover" data-tooltip="Agregar un nuevo servicio">
            <button class="btn btn-social btn-spotify" ng-click="receptionCtrl.createIncident()"><i class="fa fa-plus"></i></button>
          </li>
          <li class="tooltips" data-trigger="hover" data-tooltip="Cancelar el servicio">
            <button class="btn btn-social btn-youtube" ng-click="receptionCtrl.inactivateIncident()"><i class="fa fa-times"></i></button>
          </li>
          <li class="tooltips" data-trigger="hover" data-tooltip="Modificar el servicio">
            <button class="btn btn-social btn-apple" ng-disabled="receptionCtrl.buttonsDisabled"><i class="fa fa-pencil-square-o"></i></button>
          </li>
          <li class="tooltips" data-trigger="hover" data-tooltip="Actualizar los datos del servicio">
            <button class="btn btn-social btn-soundcloud" ng-disabled="receptionCtrl.buttonsDisabled"><i class="fa fa-refresh"></i></button>
          </li>
          <li class="tooltips" data-trigger="hover" data-tooltip="Regresa al primer servicio de la fecha">
            <button class="btn btn-social btn-facebook" ng-disabled="receptionCtrl.buttonsDisabled" ng-click="receptionCtrl.firstIncident()"><i class="fa fa-step-backward"></i></button>
          </li>
          <li class="tooltips" data-trigger="hover" data-tooltip="Regresa al servicio anterior">
            <button class="btn btn-social btn-spotify" ng-disabled="receptionCtrl.buttonsDisabled" ng-click="receptionCtrl.previousIncident()"><i class="fa fa-backward"></i></button>
          </li>
          <li class="tooltips" data-trigger="hover" data-tooltip="Avanza al siguiente servicio">
            <button class="btn btn-social btn-spotify" ng-disabled="receptionCtrl.buttonsDisabled" ng-click="receptionCtrl.nextIncident()"><i class="fa fa-step-forward"></i></button>
          </li>
          <li class="tooltips" data-trigger="hover" data-tooltip="Avanza hasta el último servicio">
            <button class="btn btn-social btn-facebook" ng-disabled="receptionCtrl.buttonsDisabled" ng-click="receptionCtrl.lastIncident()"><i class="fa fa-forward"></i></button>
          </li>
          <li class="tooltips" data-trigger="hover" data-tooltip="Categorizaciones">
            <button class="btn btn-social btn-soundcloud" ng-disabled="receptionCtrl.buttonsDisabled"><i class="fa fa-users"></i></button>
          </li>
          <li class="tooltips" data-trigger="hover" data-tooltip="Imprimir el servicio">
            <button class="btn btn-social btn-apple" ng-disabled="receptionCtrl.buttonsDisabled"><i class="fa fa-print"></i></button></li>
          </ul>

          <form name="receptionForm" class="reception-form" novalidate>
            <div class="row">

              <div class="col-xs-3">
                <div class="form-group">
                  <label for="#" class="control-label">Fecha de Incidente</label>
                  <p class="input-group">
                    <input type="text" class="form-control datepicker" datepicker-popup="{{receptionCtrl.datepicker.format}}" ng-model="receptionCtrl.incService.incident.incDate" ng-disabled="true" is-open="receptionCtrl.datepicker.opened" datepicker-options="receptionCtrl.datepicker.dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-disabled="receptionCtrl.incService.incident.inputBlocked" ng-click="receptionCtrl.datepicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div>
              </div>

              <div class="col-xs-1">
                <div class="form-group">
                  <label for="#" class="control-label">Número</label>
                  <input class="form-control" type="text" ng-disabled="true" placeholder="Nro." ng-disabled="receptionCtrl.incService.incident.inputBlocked" ng-model="receptionCtrl.incService.incident.number" />
                </div>
              </div>

              <div class="col-xs-2">
                <div class="form-group">
                  <label for="#" class="control-label">Telefono</label>
                  <input class="form-control" type="text" placeholder="Teléfono" ng-disabled="receptionCtrl.incService.incident.inputBlocked" ng-model="receptionCtrl.incService.incident.phoneNumber" ng-blur="receptionCtrl.getDataByPhone()" />
                </div>
              </div>

              <div class="col-xs-2">
                <div class="form-group">
                  <label for="#" class="control-label">Cliente</label>
                  <input class="form-control" type="text" placeholder="Cliente" ng-disabled="receptionCtrl.incService.incident.inputBlocked" ng-model="receptionCtrl.incService.incident.client" ng-blur="receptionCtrl.validateClient()" />
                </div>
              </div>

              <div class="col-xs-2">
                <div class="form-group">
                  <label for="#" class="control-label">Nro. Afiliado</label>
                  <input class="form-control" type="text" ng-keyup="receptionCtrl.affiliateKeyPress($event.keyCode)"  placeholder="Nro. de afiliado" ng-disabled="receptionCtrl.incService.incident.inputBlocked" ng-model="receptionCtrl.incService.incident.affiliateNumber" ng-blur="receptionCtrl.validateAffiliate()" />
                </div>
              </div>

              <div class="col-xs-2">
                <div class="form-group">
                  <label for="#" class="control-label">Aviso</label>
                  <input class="form-control" type="text" placeholder="Aviso" ng-disabled="receptionCtrl.incService.incident.inputBlocked" ng-model="receptionCtrl.incService.incident.advertise" />
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-xs-2">
                <div class="form-group">
                  <label for="#" class="control-label">Localidad</label>
                  <input class="form-control" type="text" placeholder="Localidad" ng-blur="receptionCtrl.validateLocality()" ng-disabled="receptionCtrl.incService.incident.inputBlocked" ng-model="receptionCtrl.incService.incident.locAbreviature" />
                </div>
              </div>

              <div class="col-xs-5">
                <div class="form-group">
                  <label for="#" class="control-label">Descripcion de la localidad</label>
                  <input class="form-control" type="text" ng-disabled="true" placeholder="Descripcion de la localidad" ng-model="receptionCtrl.incService.incident.locality" />
                </div>
              </div>

              <div class="col-xs-5">
                <div class="form-group">
                  <label for="#" class="control-label">Partido</label>
                  <input class="form-control" type="text" placeholder="Partido" ng-disabled="true" ng-model="receptionCtrl.incService.incident.partido" />
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="#" class="control-label">Domicilio</label>
                  <input class="form-control" type="text" placeholder="Domicilio" ng-disabled="receptionCtrl.incService.incident.inputBlocked" ng-model="receptionCtrl.incService.incident.domicile.street" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="form-group">
                  <label for="#" class="control-label">Altura</label>
                  <input class="form-control" type="text" placeholder="Altura" ng-disabled="receptionCtrl.incService.incident.inputBlocked" ng-model="receptionCtrl.incService.incident.domicile.height" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="form-group">
                  <label for="#" class="control-label">Piso</label>
                  <input class="form-control" type="text" placeholder="Piso" ng-disabled="receptionCtrl.incService.incident.inputBlocked" ng-model="receptionCtrl.incService.incident.domicile.floor" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="form-group">
                  <label for="#" class="control-label">Departamento</label>
                  <input class="form-control" type="text" placeholder="Departamento"  ng-disabled="receptionCtrl.incService.incident.inputBlocked" ng-model="receptionCtrl.incService.incident.domicile.department" />
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-xs-4">
                <div class="form-group">
                  <label for="#" class="control-label">Entrecalle 1</label>
                  <input class="form-control" type="text" placeholder="Entrecalle 1" ng-disabled="receptionCtrl.incService.incident.inputBlocked" ng-model="receptionCtrl.incService.incident.domicile.betweenFirstStreet" />
                </div>
              </div>

              <div class="col-xs-4">
                <div class="form-group">
                  <label for="#" class="control-label">Entrecalle 2</label>
                  <input class="form-control" type="text" placeholder="Entrecalle 2" ng-disabled="receptionCtrl.incService.incident.inputBlocked" ng-model="receptionCtrl.incService.incident.domicile.betweenSecondStreet" />
                </div>
              </div>

              <div class="col-xs-4">
                <div class="form-group">
                  <label for="#" class="control-label">Referencias</label>
                  <input class="form-control" type="text" placeholder="Referencias" ng-disabled="receptionCtrl.incService.incident.inputBlocked" ng-model="receptionCtrl.incService.incident.references" />
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-xs-1">
                <div class="form-group">
                  <label for="#" class="control-label">Sexo</label>
                  <select class="form-control" ng-disabled="receptionCtrl.incService.incident.inputBlocked" ng-options="item as item.label for item in receptionCtrl.sexOptions track by item.id" ng-model="receptionCtrl.incService.incident.sexSelected"></select>
                </div>
              </div>

              <div class="col-xs-1">
                <div class="form-group">
                  <label for="#" class="control-label">Edad</label>
                  <input class="form-control" ng-disabled="receptionCtrl.incService.incident.inputBlocked" type="number" placeholder="Edad" ng-model="receptionCtrl.incService.incident.age" />
                </div>
              </div>

              <div class="col-xs-7">
                <div class="form-group">
                  <label for="#" class="control-label">Motivo de llamada - sintomas</label>
                  <input class="form-control" type="text" ng-keyup="receptionCtrl.symptomsKeyPress($event.keyCode)"  ng-disabled="receptionCtrl.incService.incident.inputBlocked" placeholder="Sintomas" ng-model="receptionCtrl.incService.incident.symptoms" />
                </div>
              </div>

              <div class="col-xs-3">
                <div class="form-group">
                  <label for="#" class="control-label">Grado</label>
                  <select class="form-control" id="receptionCtrl.selOperativeGrades" ng-disabled="receptionCtrl.incService.incident.inputBlocked" ng-options="item as item.label for item in receptionCtrl.operativeGradeOptions track by item.id" ng-model="receptionCtrl.incService.incident.operativeGradeSelected"></select>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-xs-6">
                <div class="form-group">
                  <label for="#" class="control-label">Paciente</label>
                  <input class="form-control" ng-disabled="receptionCtrl.incService.incident.inputBlocked" type="text" placeholder="Paciente" ng-model="receptionCtrl.incService.incident.patient" />
                </div>
              </div>
              <div class="col-xs-2">
                <div class="form-group">
                  <label for="#" class="control-label">IVA</label>
                  <select class="form-control" id="receptionCtrl.selIvaSituations" ng-disabled="receptionCtrl.incService.incident.inputBlocked" ng-options="item as item.label for item in receptionCtrl.ivaSituationsOptions track by item.id" ng-model="receptionCtrl.incService.incident.ivaSituationSelected"></select>
                </div>
              </div>
              <div class="col-xs-2">
                <div class="form-group">
                  <label for="#" class="control-label">Plan</label>
                  <select class="form-control"  ng-disabled="receptionCtrl.incService.incident.inputBlocked" ng-options="item as item.label for item in receptionCtrl.cliService.planOptions track by item.id" ng-model="receptionCtrl.incService.incident.planSelected"></select>
                </div>
              </div>
              <div class="col-xs-2">
                <div class="form-group">
                  <label for="#" class="control-label">Copago</label>
                  <input class="form-control" ng-disabled="receptionCtrl.incService.incident.inputBlocked" type="text" placeholder="Copago" ng-model="receptionCtrl.incService.incident.copayment" />
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-xs-2">
                <div class="form-group">
                  <label for="#" class="control-label">Diagnostico</label>
                  <input class="form-control" ng-disabled="receptionCtrl.incService.incident.inputBlocked" type="text" placeholder="Diagnostico" ng-model="receptionCtrl.incService.incident.diagnosis" />
                </div>
              </div>

              <div class="col-xs-4">
                <div class="form-group">
                  <label for="#" class="control-label">Cierre</label>
                  <input class="form-control" ng-disabled="receptionCtrl.incService.incident.inputBlocked" type="text" placeholder="Cierre" ng-model="receptionCtrl.incService.incident.closing" />
                </div>
              </div>

              <div class="col-xs-4">
                <div class="form-group">
                  <label for="#" class="control-label">Paciente derivado en</label>
                  <input class="form-control" ng-disabled="receptionCtrl.incService.incident.inputBlocked" type="text" placeholder="Paciente derivado en" ng-model="receptionCtrl.incService.incident.patientDerivedIn" />
                </div>
              </div>

              <div class="col-xs-2">
                <div class="form-group">
                  <label for="#" class="control-label">Viaje</label>
                  <input type="checkbox" ng-disabled="receptionCtrl.incService.incident.inputBlocked"  class="js-switch" ng-model="receptionCtrl.incService.incident.tripRealized" ui-switch="{color: '#7dcc93', secondaryColor: '#c5cbd1'}" />
                </div>
              </div>

            </div>

            <hr/>
            <div class="row">
              <div class="btn-group" role="group" aria-label="..." style="float:right">
                <button class="btn btn-primary" ng-hide="receptionCtrl.incService.incident.inputBlocked" ng-click="receptionCtrl.saveIncident()">Guardar cambios</button>
                <button class="btn btn-danger" ng-hide="receptionCtrl.incService.incident.inputBlocked" ng-click="receptionCtrl.cancelIncident()">Cancelar</button>
              </div>
            </div>

          </form>


        </tab>
      </tabset>
    </div>
    <div class="col-xs-2" ng-show="operative.mapService.seeMap">
      <ui-gmap-google-map center='operative.data.map.center' zoom='operative.data.map.zoom'></ui-gmap-google-map>
    </div>
  </div>
</div>

<!-- Comienzo de templates de modals de form de recepcion -->

<script type="text/ng-template" id="clients-search-modal.html">
<div class="modal-header">
<h3 class="modal-title">Búsqueda de clientes</h3>
</div>
<div class="modal-body">
<div style="height:400px" ui-grid="modalClientsSearch.gridOptions" ui-grid-edit ui-grid-selection ui-grid-auto-resize></div>
<div class="panel-loading" ng-show="modalClientsSearch.clientsAreLoading">
<div class="panel-loader-circular"></div>
</div>
</div>
<div class="modal-footer">
<button class="btn btn-primary" ng-click="ok()">OK</button>
<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</script>

<script type="text/ng-template" id="symptoms-search-modal.html">
<div class="modal-header">
<h3 class="modal-title">Búsqueda de Síntomas</h3>
</div>
<div class="modal-body">
<div style="height:400px" ui-grid="modalSymptomsSearch.gridOptions" ui-grid-edit ui-grid-selection ui-grid-auto-resize></div>
</div>
<div class="modal-footer">
<button class="btn btn-primary" ng-click="ok()">OK</button>
<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</script>
