.angular-google-map-container { height: 500px; }

.padding-0 {
  padding: 0 !important;
}

.reception-menu {
  border-bottom: 2px solid @sidebar-success-background;
  padding-bottom: 7px;
}

.reception-form {
  margin-top: 20px;
}

div.panel-no-padding {
  &> div.panel-body {
    padding: 0;
  }
}

i.red {
  color : #e9594a;
}

.modal-content {
  margin-top:70px !important;
}

.panel-heading-border {
  border-bottom: 1px solid #eee !important;
}
